<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.huangshan">

    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 通知灯权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 振动权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许程序设置内置sd卡的读权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 允许访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".common.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="黄山任我行"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:allowBackup,android:label,android:supportsRtl">
        <activity android:name=".tourist.ui.activity.GeographyHuangShanActivity"/>
        <activity
            android:name=".tourist.ui.activity.HomeQuickVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"/>
        <activity android:name=".tourist.ui.activity.MapAllPOIActivity"/>
        <activity android:name=".tourist.ui.activity.ServeScenicHotActivity"/>
        <activity android:name=".tourist.ui.activity.StartNaviActivity"/>
        <activity android:name=".tourist.ui.activity.RouteDetailAcitvity"/>
        <activity android:name=".common.base.BaseNaviActivity"/>
        <activity android:name=".tourist.ui.activity.ServeWCActivity"/>
        <activity android:name=".tourist.ui.activity.ServeComplaintActivity"/>
        <activity android:name=".tourist.ui.activity.ServePredictActivity"/>
        <activity android:name=".tourist.ui.activity.ServeTicketActivity"/>
        <activity android:name=".common.ui.UserSuggestionActivity"/>
        <activity android:name=".tourist.ui.activity.TouristHelpActivity"/>
        <activity android:name=".common.ui.SystemSettingsActivity"/>
        <activity android:name=".tourist.ui.activity.AccountSafeActivity"/>
        <activity android:name=".tourist.ui.activity.TouristSelfInfoActivity"/>
        <activity android:name=".tourist.ui.activity.DownloadActivity"/>
        <activity android:name=".tourist.ui.activity.NotificationActivity"/>
        <activity android:name=".tourist.ui.activity.TouristMainActivity"/>
        <activity android:name=".tourist.ui.activity.TouristRegisterActivity"/>
        <activity android:name=".common.ui.ChangePasswordActivity"/>
        <activity android:name=".admin.activity.ComplaintInfoActivity"/>
        <activity android:name=".admin.activity.HandleComplaintActivity"></activity>
        <activity android:name=".admin.activity.NotificationInfoActivity" />
        <activity android:name=".admin.activity.WeatherH5Activity" />
        <activity android:name=".admin.activity.SendNotificationActivity" />
        <activity android:name=".admin.activity.AdminSelfInfoActivity" />
        <activity android:name=".admin.activity.NotificationManageActivity" />
        <activity android:name=".admin.activity.NotificationUrgentActivity" />
        <activity android:name=".admin.activity.HomePageMapActivity"/>
        <activity android:name=".admin.activity.HomePageTicketActivity"/>
        <activity android:name=".admin.activity.HomePageRuleActivity"/>
        <activity android:name=".admin.activity.HomePageCampActivity"/>
        <activity android:name=".admin.activity.HomePageCablewayActivity"/>
        <activity android:name=".admin.activity.HomePageChangeCarActivity"/>
        <activity
            android:name=".common.ui.SplashActivity"
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.activity.SettingsActivity" />
        <activity android:name=".admin.activity.AboutActivity" />
        <activity android:name=".admin.activity.ListAdminsActivity" />
        <activity android:name=".admin.activity.AdminInformationActivity" />
        <activity android:name=".admin.activity.UsersManageActivity" />
        <activity android:name=".admin.activity.AdminsMapViewActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="71481f00fd1eb591faa63622c7b66345" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".admin.activity.WeatherActivity" />
        <activity android:name=".common.base.BaseActivity" />
        <activity android:name=".common.ui.LoginActivity" />
        <activity android:name=".admin.activity.AdminMainActivity" />
    </application>

</manifest>